@model EFolio_Take10.Models.Resort

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">


<link href="~/Content/Style.css" rel="stylesheet" />
<link href="~/Content/Resorts.css" rel="stylesheet" />
<header class="header">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <!-- <h1 class="font-weight-light">Vertically Centered Masthead Content</h1>
                <p class="lead">A great starter layout for a landing page</p> -->
                <div class="booking-box">
                    <div class="head">
                        <h4 class="margin-25">
                            @Html.DisplayFor(model => model.Name)

                        </h4>


                    </div>


                </div>

            </div>
        </div>
    </div>
</header>

<div class="container">

</div>

@foreach (var room_details in Model.Rooms)
{
    if (room_details.ImgName.Equals("Active"))
    {
        <div class="container">
            <div class="row r-content">
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="@Url.Content("~/RoomUploads/" + room_details.ImgURL)" style="height: 100%; " class="card-img" alt="Resort Image">

                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">  @Html.DisplayFor(model => room_details.Name)</h5>
                                <p class="card-text"> @Html.DisplayFor(model => room_details.Description)</p>
                                <p class="card-text"> AUD $ @Html.DisplayFor(model => room_details.Price) /night</p>
                                <p class="card-text"><small class="text-muted">Room Capacity</small></p>

                                <p class="card-text">   @Html.DisplayFor(model => room_details.AdultCapacity) Adults</p>
                                <p class="card-text">  @Html.DisplayFor(model => room_details.ChildCapacity) Children</p>
                                @if (User.Identity.IsAuthenticated)
                                {

                                    <button type="button" style="margin-bottom: 20px;" class="btn custom-btn cent"> @Html.ActionLink("Book Room", "BookRoom", "Bookings1", new { id = room_details.Id }, null)</button>

                                }
                                else
                                {
                                    <button type="button" class="btn custom-btn cent" data-toggle="modal" data-target="#exampleModal">
                                       Book Room
                                    </button>
                                }



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Relic Resorts</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Oops! Looks like you are not yet logged in. Please  @Html.ActionLink("Log in ", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })or @Html.ActionLink("Create an Account ", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) to book this room!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn custom-btn cent" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
