@model IEnumerable<EFolio_Take10.Models.Resort>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>

<link href="~/Content/Style.css" rel="stylesheet" />
<link href="~/Content/Resorts.css" rel="stylesheet" />

<style>
    .mapboxgl-ctrl-geocoder--suggestion-title, .mapboxgl-ctrl-geocoder--suggestion-address {
    color: #863C3C;
    }
      
</style>
<header class="header">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">

                <div class="booking-box">
                    <div class="head">
                        Discover
                    </div>


                </div>

            </div>
        </div>
    </div>
</header>

@foreach (var item in Model)
{
    if (item.ImgName.Equals("Active"))
    {
        <div class="row r-content">

            <div class="card mb-3 coordinates">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="@Url.Content("~/Upload/"+ item.ImgURL)" style="height: 100%; " class="card-img" alt="Resort Image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title description"> @Html.DisplayFor(modelItem => item.Name)</h5>
                            <p class="card-text"> @Html.DisplayFor(modelItem => item.Description)</p>
                            <p class="card-text"><small class="text-muted"> @Html.DisplayFor(modelItem => item.Address)</small></p>
                            <button type="button" class="btn custom-btn cent"> @Html.ActionLink("View Resort Details", "Details", new { id = item.Id })</button>
                            <p class="latitude no-display "> @Html.DisplayFor(modelItem => item.ResortLat) </p>
                            <p class="longitude no-display "> @Html.DisplayFor(modelItem => item.ResortLong) </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }

}



<div id="map" style="height:300px"></div>

@section Scripts {
    @Scripts.Render("~/bundles/mapbox")
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
 
}
