<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Relic Resorts</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/tinymce/tinymce.min.js"></script>

    <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />

    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css' type='text/css' />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark nav-bg static-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                @Html.ActionLink("Relic Luxury  ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <!-- <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a> -->
                    </li>

                    <li class="nav-item">
                        @*<a href="#">@Html.ActionLink("Our Story", "About", "Home")</a>*@
                    </li>
                    @*<li class="nav-item">
            <a href="#">@Html.ActionLink("Discover", "Resorts", "Home")</a>
        </li>*@
                    @if (User.Identity.IsAuthenticated )
                    {

                        <li class="nav-item">
                            <a href="#">@Html.ActionLink("Your Bookings", "Index", "Bookings1")</a>
                        </li>
                    }

                    <li class="nav-item">
                        <a href="#">@Html.ActionLink("Locations", "Index", "Resorts")</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">@Html.ActionLink("Contact", "Contact", "Home")</a>
                    </li>

                    @if (this.User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a href="#">@Html.ActionLink("Admin", "AdminIndex", "Resorts")</a>
                        </li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="footer">
            <ul class="navbar-nav ml-auto">
                <h6>Relic Resorts &copy; @DateTime.Now.Year </h6>
                <li class="nav-item">
                    <a href="#">@Html.ActionLink("Home", "Home", "Home")</a>
                </li>
                <li class="nav-item">
                    <a href="#">@Html.ActionLink("Locations", "Index", "Resorts")</a>
                </li>
                <li class="nav-item">
                    <a href="#">@Html.ActionLink("Contact", "Contact", "Home")</a>
                </li>
                </ul>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
