@model EFolio_Take10.Models.Booking

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Style.css" rel="stylesheet" />

<h2 class="heading">Booking Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal center-text ">

        <dt>
            Room Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.Name)
        </dd>

        <dt>
            Check In Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckInDate)
        </dd>

        <dt>
            Check Out Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckOutDate)
        </dd>
        <dt>
            Total Charge
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCharge)
        </dd>
        <dt>
            Total Adults
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfAdults)
        </dd>

        <dt>
            Total Children
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfChildren)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        @if (Model.Rating == null)
        {
            <button type="button" class="btn custom-btn cent btn-spacing"> @Html.ActionLink("Add Rating", "Edit", new { id = Model.Id })</button>

        }
        else
        {
            <dd>
                @Html.DisplayFor(model => model.Rating)
            </dd>

        }

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        @if (Model.Comment == null)
        {
            <button type="button" class="btn custom-btn cent btn-spacing"> @Html.ActionLink("Add Review", "Edit", new { id = Model.Id })</button>

        }
        else
        {
            <dd>
                @Html.DisplayFor(model => model.Comment)
            </dd>

        }




    </dl>
</div>
