@model IEnumerable<EFolio_Take10.Models.Booking>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Style.css" rel="stylesheet" />

<h2 class="heading">Your Bookings</h2>

@foreach (var item in Model)
{
    <div class="row r-content">

        <div class="card width-100">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="@Url.Content("~/RoomUploads/"+ item.Room.ImgURL)" style="height: 100%; " class="card-img" alt="Resort Image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title description"> @Html.DisplayFor(modelItem => item.Room.Resort.Name)</h5>
                        <p class="card-text"><small class="text-muted"> @Html.DisplayFor(modelItem => item.Room.Name)  </small></p>

                        <p class="card-text"> @Html.DisplayFor(modelItem => item.Room.Resort.Address)</p>
                        <p class="card-text"><small class="text-muted"> Dates - @Html.DisplayFor(modelItem => item.CheckInDate) to @Html.DisplayFor(modelItem => item.CheckOutDate) </small></p>

                        <p class="card-text"><small class="text-muted">Booking Reference -  @Html.DisplayFor(modelItem => item.Id)  </small></p>
                        <p class="card-text"><small class="text-muted">Total Charge -  AUD$ @Html.DisplayFor(modelItem => item.TotalCharge)  </small></p>

                        @if (item.status == 0 || item.status == null)
                        {
                            <p class="card-text"><small class="cust-red">Booking Status -  Unconfirmed </small></p>

                        }
                        else if (item.status != 0)
                        {
                            <p class="card-text"><small class="cust-red">Booking Status -  Confirmed  </small></p>

                        }

                        <button type="button" class="btn custom-btn cent"> @Html.ActionLink("View", "Details", new { id = item.Id })</button>

                    </div>
                </div>
            </div>
        </div>

    </div>
}
